div, body{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f4f4;
}

.topMenu{
    color: red;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 1.56rem 1.25rem;
    background-color: #ffffff;
}

.topImg{
    width: 10rem;
    height: 4rem;
}
.topTitle{
    height: 2.81rem;
    line-height: 2.81rem;
    color: #222222;
    font-size: 2rem;
    font-family: PingFangSC-Semibold, sans-serif;
    margin: auto;
    letter-spacing: 0.09rem;
    text-align: left;
}
.total{
    border-top: 0.06rem solid #EDEDED;
    height: 5rem;
    background-color: #FFFFFF;
}

.total p{
    font-family: PingFangSC-Semibold, sans-serif;
    font-size: 1.75rem;
    color: #222222;
    line-height: 1.88rem;
    padding-left: 2.5rem;
}

.case{
    display: flex;
    flex-direction: column;
}

.container{
    height: 45rem;
    width: 98%;
    border-radius: 1rem;
    background-color: #FFFFFF;
    margin: 1.56rem auto 0;
}

.imgPos{
    width: 57rem;
    margin: auto;
}

.caseImg{
    width: 57rem;
    margin-top: 1.25rem;
}

.subTitle{
    margin-top: 1.88rem;
    margin-left: 1.25rem;
    height: 2.5rem;
}

.subTitle .tag{
    font-family: PingFangSC-Regular,sans-serif;
    color: #FFFFFF;
    background-image: linear-gradient(90deg, #7CA4D0 0%, #13457D 100%);
    border-radius: 0.31rem;
    width: 6.25rem;
    padding: 0.31rem 0.62rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: left;
}
.subTitle .detail{
    font-family: PingFangSC-Medium,sans-serif;
    color: #222222;
    font-size: 1.56rem;
    line-height: 1.56rem;
    letter-spacing: 0;
    margin-left: 0.62rem;
}

.text{
    width: 57rem;
    border-top: solid 1px #EDEDED;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.text .pos{
    padding-top: 1.25rem;
}

.text p{
    font-family: PingFangSC-Regular,sans-serif;
    font-size: 1.25rem;
    color: #6B6A72;
    letter-spacing: 0;
    line-height: 1.25rem;
}



